/* Square.css */
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
  }
  
  .light {
    background-color: #f0d9b5;
  }
  
  .dark {
    background-color: #b58863;
  }
  
  .selected {
    background-color: #7389ae;
  }