* {
    background-color: #b0b4eb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}